<a href="https://colab.research.google.com/github/Ahnjihye/2020-2-Student-Python/blob/main/%EB%B0%A9%EA%B3%BC%ED%9B%84_day1_(%EC%99%84%EC%84%B1%EB%B3%B8)_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8_%EC%9E%85%EC%B6%9C%EB%A0%A5_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 인공지능 알아보기

### 1) 인공지능이란?

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-001.png?raw=true" width=700>

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-002.png?raw=true" width=700>

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-003.png?raw=true" width=700>

<img src="https://github.com/Ahnjihye/allinone_AI/blob/images/AI%20intro-004.png?raw=true" width=700>

### 2) 인공지능 체험해보기

[티쳐블 머신 바로가기](https://teachablemachine.withgoogle.com/)

### 3) 인공지능을 직접 만들려면 무엇을 알아야 하나요?

# 파이썬에 대해 본격적으로 배워봅시다!

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/0_%EB%AA%85%EB%A0%B9%EC%96%B4.png?raw=true' width=400>

# 1. 출력 명령어 print()



```
print(출력할 내용)
```

In [ ]:
print(10324)

10324

In [ ]:
print(2020 + 1012)

3032

In [ ]:
print(2020 - 1012)

1008

In [ ]:
print(2020 * 1012)

2044240

In [ ]:
print(2020 / 1012)

1.9960474308300395

In [ ]:
print(안지혜)

NameError: ignored

### * 문자는 따옴표로 감싸주자! 



```
print(이름)    # 에러 발생
print('이름')  # 정상 실행
```

In [ ]:
print('안지혜')

안지혜

In [ ]:
print('2020')

2020

In [ ]:
print('2020' + 1012)

TypeError: ignored

### 문자와 숫자는 계산이 안된다!!

In [ ]:
# 몫을 구하는 연산자 //
# 나머지를 구하는 연산자  %
print(20 // 3)
print(20 % 3)

6
2

In [ ]:
print(13 // 4)
print(13 % 4)

3
1

### 여러 요소 결합하여 출력하기 - 콤마로 연결하여 print()


```
print(내용1, 내용2, 내용3)
```

In [ ]:
print(10324, '안지혜')

10324 안지혜

In [ ]:
print('안녕하세요','파이썬 첫시간이네요')

안녕하세요 파이썬 첫시간이네요

In [ ]:
print('반갑습니다.')
print('저는 안지혜입니다.')

반갑습니다.
저는 안지혜입니다.

In [ ]:
# 실습1 
# 본인 학번, 이름을 한 줄로 출력해보기!

# 2. 입력 명령어 input()

```
input()
```

In [ ]:
input()

안지혜

'안지혜'

### 입력안내문 넣기


```
input('입력안내문')
```

In [ ]:
input('아이디 :')

아이디 :student

'student'

In [ ]:
input('아이디 -->')
input('비밀번호 -->')

아이디 :jiejie
비밀번호 :asdasd

'asdasd'

In [ ]:
# 실습2 
# 아이디/비밀번호를 이외에 자주 사용되는 입력칸은 무엇이 있을까요?
# input() 명령어를 활용하여 작성해봅시다!

# 3. 변수 : 데이터를 저장하는 공간
```
변수이름 = 저장할 데이터
name = '안지혜'
school = '관악고'
```

In [ ]:
x = 10
print(x)

10

In [ ]:
y = 14
print(y)

14

In [ ]:
print(2*x + 5)

25

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/1_%EB%B3%80%EC%88%98.png?raw=true' width =500>

In [ ]:
name = '안지혜'
school = '관악고'

print(name,'의 학교는', school)

안지혜 의 학교는 관악고

In [ ]:
number = 10420

print(name,'의 학번은', number)

안지혜 의 학번은 10420

### 값을 입력받아 변수에 저장하기

In [ ]:
id = input('아이디 -->')

아이디 -->jiejie

In [ ]:
print(id)

jiejie

In [ ]:
# 실습3
# (아이디)님! 환영합니다 출력하기  ex. jiejie님! 환영합니다!
print(id,'님! 환영합니다!')

jiejie 님! 환영합니다!

In [ ]:
pw = input('비밀번호 -->')

비밀번호 -->12341234

In [ ]:
# 실습4
# 비밀번호가 (비번)맞습니까? 출력하기  ex. 비밀번호가 12341234 맞습니까?
print('비밀번호가',pw,'맞습니까?')

비밀번호가 12341234 맞습니까?

In [ ]:
# 실습5
# 입력안내문이 '예/아니오' 인 입력칸 하나 만들기
input('예/아니오-->')

예/아니오-->아니오

'아니오'

### 변수를 활용하여 연산하기

In [ ]:
x = 20
y = 20 + 5

# y로 출력될 값 예상해보기
print(y)

25

In [ ]:
x = 10
y = 3 * 10 + 2

# y로 출력될 값 예상해보기
print(y)

32

1.   첫번째 계산에서 x의 값과 두 번째 계산에서 x의 값은? 
2.   첫번째 계산에서 y의 값과 두 번째 계산에서 y의 값은?

#### **같은 이름의 변수에는 하나의 값만 넣을 수 있다.**
#### **가장 최근에 저장된 값만 저장된다.**

In [ ]:
apple = 1200
banana = 800
kiwi = 1700

In [ ]:
# 사과, 바나나, 키위를 모두 하나씩 구매한 가격을 
# 변수 price에 저장하고 출력하시오
price = apple + banana + kiwi
print(price)

3700

In [ ]:
# 사과 3개, 바나나1개, 키위2개 구매한 가격을 
# 변수 price2에 저장하고 출력하시오
price2 = apple*3 + banana*1 + kiwi*2
print(price2,'원')

7800 원

In [ ]:
# vip는 20% 할인된다. 
# vip가 price2 금액을 구매했을 때 지불하는 가격을 price_vip에 저장하고 출력하시오
price_vip = price2 * 0.8
print('vip가격 : ',price_vip,'원')

vip가격 :  6240.0 원

### 변수의 데이터타입 

변수에 저장된 데이터에 따라 변수의 데이터타입이 결정된다.! 

```
정수 int
실수 float
문자 str
```

In [ ]:
type(apple)

int

In [ ]:
type(banana)

int

In [ ]:
type(id)

str

In [ ]:
type(pw)

str

### 데이터타입 변경하기
변경하려는 데이터타입으로 감싸주기


```
# 정수로 변경하기
int(변수)

# 실수로 변경하기
float(변수)

# 문자로 변경하기
str(변수)
```

In [ ]:
print(apple)

1200

In [ ]:
print(float(apple))

1200.0

In [ ]:
print(price_vip)

6240.0

In [ ]:
print(int(price_vip))

6240

In [ ]:
# 실습 6
# 입력명령어를 활용하여 점수를 입력받고 
# 입력받은 점수를 변수 score에 저장하시오
score = input('점수 --> ')

점수 --> 90

In [ ]:
# 실습 7
# 변수 score의 데이터타입은 무엇일까? 예측해보자.
# type()명령어를 활용하여 입력받은 점수의 데이터타입을 확인하시오
type(score)

str

**input()으로 입력받은 데이터는 무조건 STR (문자)이다.**

In [ ]:
# 실습 8
# 위에서 입력받은 점수에 0.5을 곱하여 
# 변수 midterm_score에 저장하시오.
midterm_score = score * 0.5

TypeError: ignored

In [ ]:
score = int(score)
midterm_score = score*0.5

In [ ]:
print(midterm_score)

45.0